<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  PhotoPipr is Copyright 2017-2023 by Jeremy Brooks
  ~
  ~  This file is part of PhotoPipr.
  ~
  ~   PhotoPipr is free software: you can redistribute it and/or modify
  ~   it under the terms of the GNU General Public License as published by
  ~   the Free Software Foundation, either version 3 of the License, or
  ~   (at your option) any later version.
  ~
  ~   PhotoPipr is distributed in the hope that it will be useful,
  ~   but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~   GNU General Public License for more details.
  ~
  ~   You should have received a copy of the GNU General Public License
  ~   along with PhotoPipr.  If not, see <http://www.gnu.org/licenses/>.
  -->

<Configuration status="warn">
    <Appenders>
        <RollingFile name="ROLLING"
                     fileName="${sys:user.home}/.photopipr/logs/photopipr.log"
                     filePattern="${sys:user.home}/.photopipr/logs/photopipr-%i.log">
            <PatternLayout pattern="%d %p %c: %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="ROLLING" />
        </Root>
    </Loggers>
</Configuration>